{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-6 text-center bg-light shadow p-4 rounded border border-grey">
        <div class="p-4">
            <h1>Welcome to ClearVote</h1>
            <p>Our goal is to help the public stay up-to-date with off-cycle elections and understand who they are voting for</p>
        </div>
        <div>
            <span class="pb-4 mb-4">To get started, please enter a valid Seattle address.  </span>
            <small tabindex="0" class="mt-2" data-toggle="tooltip" title="Why do you need this?" data-placement="top">
                <a href="#" data-toggle="modal" data-target="#infoModal"><em>Why do you need this?</em></a>
            </small>                    
            <form action="/address" method='post' autocomplete="off">
                {{ form.hidden_tag() }}
                <div class="pb-5">
                    {{ form.address(class="form-control shadow", placeholder="University of Washington, Seattle, WA") }}
                </div>
                <div>
                    {{ form.submit(class="d-grid gap-2 col-sm-4 mx-auto mb-4 shadow btn btn-outline-primary") }}
                    <!--TODO: validate address before moving on-->
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <p>
                Don't worry, we won't even store your address!
                Your address helps us lookup your voting precinct.
                With that, we can lookup your ballot and all the candidates on it.
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

{% endblock %}