{% extends "base.html" %}

{% block content %}
<div class="container my-5 text-center d-flex flex-column justify-content-center">
    <p class="fw-bold h4">Voting information for "{{ address }}"; precinct: {{ precinct['name'] }}</p>
    <div class="d-flex flex-column align-items-center" id="highlights">
        {% for contest in highlights_election %}
        <div class="m-3 p-4 col-12 col-lg-8 offset-lg-2 rounded border border-black shadow bg-light">
            <h3 class="mb-3">Contest: {{ contest.contest_type.replace('_', ' ').title() }} Position {{ contest.position_number }}</h3>
            <div class="row justify-content-center">
                {% for candidate in contest.candidates %}
                <div class="col-md-3 m-2 p-2 rounded shadow border border-black">
                    <h5>{{ candidate.name.replace('_', ' ') }}</h5>
                    <ul class="list-unstyled">
                        {% for issue in candidate.issues %}
                        <li>
                            <i class="fa {{ getIconForWord(issue[0]) }}"></i> {{ issue[0] }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <!--SHOW POLITICAL FOCUS METRICS-->
    <div class="d-flex flex-column align-items-center d-none" id="total">
        {% for contest in total_election %}
        <div class="m-3 p-4 col-12 col-lg-8 offset-lg-2 rounded border border-black shadow bg-light">
            <h3 class="mb-3">Contest: {{ contest.contest_type.replace('_', ' ').title() }} Position {{ contest.position_number }}</h3>
            <div class="row justify-content-center">
                {% for candidate in contest.candidates %}
                <div class="col-md-3 m-2 p-2 rounded shadow border border-black">
                    <h5>{{ candidate.name.replace('_', ' ') }}</h5>
                    <ul class="list-unstyled">
                        {% for issue in candidate.issues %}
                        <li>
                            <i class="fa {{ getIconForWord(issue[0]) }}"></i> {{ issue[0] }}
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" 
                                     style="width: {{ (issue[1] / contest.max_issue_value) * 100 }}%;" 
                                     aria-valuenow="{{ issue[1] }}" 
                                     aria-valuemin="{{ contest.min_issue_value }}" 
                                     aria-valuemax="{{ contest.max_issue_value }}"></div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="p-3">
        <a href="#" data-toggle="modal" data-target="#infoModal">Hold up, where is all this information coming from anyways?</a>
    </div>    
    <div class="row">
        <button class="offset-md-1 col-md-5 col-12 my-2 btn btn-outline-primary shadow" onclick="toggleElections()" id="toggleBtn">Show all <i>Political Focus Metrics</i></button>
        <form action="/create_user" method="get" class="col-md-6 col-12 my-2">
            <input type="submit" value="Email me my election info!" class="btn btn-outline-primary shadow" style="width: 80% !important; margin-left: 10%; margin-right: 10%;" />
        </form>
    </div>
</div>
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <p class="p-1">
                That's a great question!
            </p>
            <p class="p-1">
                We try to come up with a list of <i>political focus metrics</i> that represent what issues candidates up for an election direct their energy towards in their campagin. We collect this information through open internet sources like voter pamphlets, social media posts, and candidate websites.
            </p>
            <p class="p-3">
                <i>Ok, so how do you rate them?</i>
            </p>
            <p class="p-1">
                We send a <i>prompt</i> to ChatGPT-4 with instructions to rate each candidate based on the information we collect on each <i>political focus metric</i> in that contest.
            </p>
            <p class="p-3">
                <i>Isn't that biased?</i>
            </p>
            <p>
                Absolutely. We are always looking for new ways to cut down on bias. One way we try to eliminate it is with the metrics we use themselves. While people might disagree on how we take action towards <i>homelessness</i> or <i>environment</i>, pretty much everyone can get behind these focuses some degree. The same logic holds for the AI that analyzes the candidate information we send it. It's forced to look at the information objectively, and not just with the political biases it may have.
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script>
  function toggleElections() {
    var highlightsDiv = document.getElementById("highlights");
    var totalDiv = document.getElementById("total");
    var btn = document.getElementById("toggleBtn");

    if (highlightsDiv.classList.contains("d-none")) {
      highlightsDiv.classList.remove("d-none");
      totalDiv.classList.add("d-none");
      btn.innerHTML = "Show all <i>Political Focus Metrics</i>";
    } else {
      highlightsDiv.classList.add("d-none");
      totalDiv.classList.remove("d-none");
      btn.innerHTML = "Show Highlights";
    }
  }
  function getIconForWord(word) {
    const iconMapping = {
        'Wellbeing': 'fa-heart',
        'Homelessness': 'fa-home',
        'Emergency': 'fa-ambulance',
        'Justice': 'fa-balance-scale',
        'Security': 'fa-shield-alt',
        'Transit': 'fa-bus',
        'Infrastructure': 'fa-road',
        'Economics': 'fa-chart-line',
        'Community': 'fa-users',
        'Environment': 'fa-leaf',
        'Development': 'fa-hammer',
        'Zoning': 'fa-map-signs',
        'Accountability': 'fa-check-circle',
        'Operations': 'fa-cogs',
        'Services': 'fa-concierge-bell',
        'Management': 'fa-briefcase',
        'Academics': 'fa-book',
        'Teachers': 'fa-chalkboard-teacher',
        'Quality': 'fa-star',
        'Funding': 'fa-dollar-sign',
        'Equity': 'fa-equals',
        'Safety': 'fa-hard-hat',
        'Opportunity': 'fa-lightbulb',
        'Extracurricular': 'fa-football-ball',
        'Policy': 'fa-gavel'
    };
  return iconMapping[word] || 'fa-question-circle'; // Default icon
}
</script>
{% endblock %}