{% extends "base.html" %}

{% block content %}
    <div>
        <p>Voting information for {{ address }}</p>
        <p>Precinct: {{ precinct.get_name() }}</p>
    </div>

    <div>
        {% for contest in election %}
            <h3>Contest: {{ contest.contest_type.replace('_', ' ').title() }} Position {{ contest.position_number }}</h3>
                {% for candidate in contest.candidates %}
                    <div class="col">
                        <h5>{{ candidate.name.replace('_', ' ') }}</h5>
                        <ul>
                            {% for issue in candidate.issues %}
                                <li>{{ issue[0] }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
        {% endfor %}
    </div>
    
    <form action="/create_user" method="get">
        <input type="submit" value="Next"/>
    </form>

{% endblock %}