{% extends "base.html" %}

{% block content %}
<div class="container my-5 text-center d-flex flex-column justify-content-center vh-100">
    <p class="fw-bold h4">We'll keep you updated, just provide your name and either your Email or Phone (or both)</p>
    <form action="{{ url_for('create_user') }}" method="post" class="col-md-4 offset-md-4 col-10 offset-1">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            <label for="{{ form.name.id }}" class="form-label">{{ form.name.label.text }}</label>
            {{ form.name(class="form-control") }}
        </div>
        <div class="mb-3">
            <label for="{{ form.email.id }}" class="form-label">{{ form.email.label.text }}</label>
            {{ form.email(class="form-control") }}
        </div>
        <div class="mb-3">
            <label for="{{ form.phone.id }}" class="form-label">{{ form.phone.label.text }}</label>
            {{ form.phone(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-outline-primary w-100 shadow") }}
        </div>
    </form>
</div>
{% endblock %}
