{% extends "base.html" %}

{% block content %}
    <div>
        <h1>Voting District Information for: {{ address }}</h1>
    </div>
    <div>
        <ul>
            <li>Precinct Code: {{ precinct.get_code() }}</li>
            <li>Name: {{ precinct.get_name() }}</li>
            <li>County Council: {{ precinct.get_county_council() }}</li>
            <li>Legislative District: {{ precinct.get_leg_dist() }}</li>
            <li>Congressional District: {{ precinct.get_cong_dist() }}</li>
            <li>City Council District: {{ precinct.get_city_council_dist() }}</li>
        </ul>
    </div>
{% endblock %}