{% extends "base.html" %}

{% block content %}
    <div>
        <p>Voting information for {{ address }}</p>
        <p>Precinct: {{ precinct.get_name() }}</p>
    </div>

    <div>
        {% for contest in election.contests %}
            <h3>Contest: {{ contest.contest_type.replace('_', ' ').title() }}</h3>
            {% for district in contest.districts %}
                <h4>Position {{ district.position_number }}</h4>
                <div class="row">
                    {% for candidate in district.candidates %}
                        <div class="col">
                            <h5>{{ candidate.name.replace('_', ' ') }}</h5>
                            <ul>
                                {% for issue in candidate.issues|sort(attribute='1', reverse=true) %}
                                    <li>{{ issue[0] }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    
    <form action="/create_user" method="get">
        <input type="submit" value="Next"/>
    </form>

{% endblock %}