{% extends "base.html" %}

{% block content %}
    <div>
        <h3>Thanks {{ name.split()[0] }}!</h3>
        <p>
            {% if email and not phone %}
                We'll send an email to {{ email }} with your ballot information
            {% elif phone %}
                We'll send a text to your phone at {{ phone }} with your ballot information
            {% else %}
                We'll send and email and a text with your ballot information
            {% endif %}
        </p>
    </div>
{% endblock %}